.idea
*pycache*
target
*map_cache*
/docs/report/report.fdb_latexmk
/docs/report/report.fls
/docs/report/report.bcf
/docs/report/report.aux
/docs/report/report.toc
/docs/report/report.out
/docs/report/report.log
/docs/report/report.tex
/docs/report/report.run.xml
/docs/report/svg-inkscape/
